{% extends "auctions/layout.html" %}

{% block body %}
{% if listings %}
    <h2>{{ listings.0.category.category_name }}</h2>


        {% for listing in listings %}
        <div class="d-flex flex-column gap-2">

            <div class="card " style="width: 18rem;">
                <a class="text-decoration-none" href="{% url 'listing_details' listing.id %}">
                    <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text">{{ listing.category_name }}</p>
                        <p class="card-text">US ${{ listing.price }}</p>
                        <p class="card-text">{{ listing.user.username }}</p>
                        <p class="card-text">{{ listing.created_at }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        
    {% endif %}
{% endblock %}