{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% if listings %}

        {% for listing in listings %}
            <div class="card" style="width: 18rem;">
                <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text">{{ listing.category_name }}</p>
                    <p class="card-text">US ${{ listing.price }}</p>
                    <p class="card-text">{{ listing.user.username }}</p>
                    <p class="card-text">{{ listing.created_at }}</p>
                </div>
            </div>
        {% endfor %}

    {% endif %}
{% endblock %}